.signup-wrapper {
  background: #e4ebf7;       
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.label_ex{
    color: red;
}
.signup-card {
  background: #ffffff;
  width: 440px;
  padding: 3.125rem;;
  /* padding: 20px 30px; */
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}

.title {
  text-align: center;
  font-size: 18px;
  color: #525151;
  font-weight: bold;
}

.label {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  color: black;
  display: block;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 6px;
  /* margin-bottom: 12px; */
}

.signup-btn {
  width: 105%;
  background: #0d5bfd;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 800;
}

.signup-btn:hover {
  opacity: 0.95;
}

.footer-text {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-top: 18px;
  color: #666;
}

.signin-link {
  color: #0d5bfd;
  font-weight: 600;
  cursor: pointer;
}



@media (max-width: 768px) {
  .signup-card {
    width: 90%;
    padding: 35px 25px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .signup-btn {
    font-size: 14px;
  }
}
