.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #e4ebf7;
  font-family: "Poppins", sans-serif;
}

.left-box {
  width: 32.5%;
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
  display: flex;
  
  /* justify-content: center; */
  align-items: center;
  /* padding-left: 40px; */
}

.left-content {
  max-width: 380px;
  padding: 20px;
}

.logo-row {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* .logo-img {
  width: 55px;
} */

.logo-text {
  font-size: 30px;
  margin-top: 40px;
  line-height: 1rem;
  font-weight: 600;
}

.welcome-title {
  font-size: 1.4rem;
  margin-top: 0px;
  color: #000;
      font-family: poppins, sans-serif;
  font-weight: 600;
  /* border-bottom: 1px solid rgb(81, 82, 81) ; */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.left-subtext {
  font-size: 14px;
  display: flex;
  margin-top: 0px;
  /* opacity: 0.7; */
  color: #000;
  /* font-weight: 500; */
  text-align: center;
  line-height: 1.8;
      /* font-family: poppins, sans-serif; */
  justify-content: center;
}

/* .left-subtext {
  font-size: 16px;
  margin-top: 5px;
  color:grey;
font-weight: bold;
} */

.illustration-img {
  width: 300px;
  height: auto;
  /* border-radius: 50%; */
  /* margin-top: 60px; */
}

.right-box {
  width: 77%;
  /* background: #e4ebf7; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid grey; */
}

.signin-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  color: black;
  margin-bottom: 3px;
}

.input-field {
  width: 89%;
  padding: 14px;
  border-radius: 8px;
  /* border: 1px solid #cfcfcf; */
  /* margin-bottom: 18px; */
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.remember-row {
  display: flex;
  /* align-items: center; */
  gap: 0px;
  margin-top: 20px;
  color: #272626ee;
  margin-bottom: 15px;
}

.signCheck {
  width: 30px;
  /* font-size: 1px; */
}


.sign-btn {
  width: 106%;
  padding: 14px;
  background: #0d5bfd;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}


.signup-text {
  text-align: left;
  margin-top: 18px;
  font-size: 14px;
  color: black;
}

.signup-link {
  color: #0d5bfd;
  font-weight: 300;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .left-box {
    clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);
  }

  .illustration-img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
  }

  .left-box {
    width: 100%;
    padding: 40px 20px;
    clip-path: none;
  }

  .right-box {
    width: 100%;
    padding: 40px 20px;
  }

  .illustration-img {
    width: 80%;
    margin: 40px auto 0 auto;
    display: block;
  }

  .form-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .logo-text {
    font-size: 26px;
  }

  .welcome-title {
    font-size: 22px;
  }

  .illustration-img {
    width: 90%;
  }

  .form-card {
    padding: 10px;
  }

  .sign-btn {
    font-size: 15px;
  }
}