.contact-container {
  background: #02031a;
  color: white;
  padding: 50px 20px;
  text-align: center;
  flex-direction: column;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
}

.contact-title {
  font-size: 52px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.contact-title span {
  color: #f7c746;
}

.contact-points {
  font-size: 20px;
  line-height: 2.2;
  color: rgb(221, 195, 195);
  /* margin-bottom: 50px; */
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.profile-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.profile-text p {
  margin: 3px 0 0 0;
  color: #bbbbbb;
  font-size: 14px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.email-btn {
  background: #f7c746;
  border: none;
  padding: 15px 22px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icon-btn {
  background: #f7c746;
  padding: 15px 18px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.email-btn:hover,
.icon-btn:hover {
  background: #e0b541;
}

.email-btn:hover {
  background-color: #fff;
  color: blue;
}

.icon-btn:hover {
  background-color: #fff;
  color: blue;
}

@media (max-width: 600px) {
  .contact-title {
    font-size: 34px;
  }

  .email-btn {
    font-size: 14px;
  }
}


.form-wrapper {
  /* width: 100%; */
  min-height: 100vh;
  background-color: #01011a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.top_white{
  width: 370px;
    height: auto;
    translate: -305px 11px;
}
.form-container {
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 20px;
  padding: 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.form-group label {
  display: block;
  font-size: 15px;
  color: #555;
  margin-bottom: 8px;
}
.input, select, textarea{
  background-color: #fff;
}
.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 14px 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #4c2cf9;
}

.form-textarea {
  margin-top: 40px;
}

.form-textarea label {
  display: block;
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
}

.form-textarea textarea {
  width: 100%;
  height: 120px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  outline: none;
  resize: none;
  transition: 0.3s;
}

.form-textarea textarea:focus {
  border-color: #4c2cf9;
}

.submit-btn {
  margin-top: 35px;
  background-color: #4c2cf9;
  color: white;
  padding: 14px 35px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}
