.footer{
    /* padding: 20px; */
    height: 100vh;
    background: radial-gradient(circle at center, #3b26d4, #0a0020);
}
.footer-content{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content img{
    width: 230px;
}
.footer_para{
    font-size: 17px;
    line-height: 1.2rem;
    color: grey;
    flex: 1;
}
.footer-column h4{
    margin-bottom: 0px;
    font-size: 20px;
    margin-top: 0px;
}
.footer-column{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-column ul li{
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 2rem;
    cursor: pointer;
    padding-top: 0px;
    color: rgb(197, 192, 192);
    display: flex;
    font-weight: 500;
    justify-content: flex-start;
}
.footer-column ul li:hover{
    color: yellow;
}
.footer-column ul{
    padding: 0%;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.social_media_fotter{
    display: flex;
    gap: 2rem;cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: grey;
}
.right_para_yellow{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0px;
    color: yellow;
    cursor: pointer;
}
.footer_copy{
    display: flex;
    cursor: pointer;
    justify-content: center;
    /* margin-bottom: 80px; */
}
.social_media_fotter a:hover{
    color: rgb(245, 184, 17);
}
