.header {
  background-color: #01011a;
  margin-top: 38px;
  border-top: 1px solid #6c6c77;
  border-bottom: 1px solid #868697;
  padding: 30px 0;
  /* width: 90%; */
  font-family: "Poppins", sans-serif;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 12rem;
  height: 2.5rem;
}


.nav-menu {
  display: flex;
  gap: 35px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #ffc64d;
}

.contact-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffc64d;
  color: black;
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-btn:hover {
  background-color: #ffda75;
}

.arrow-icon {
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-icon:hover{
background-color: blue;
}
.contact-btn:hover{
    background-color:#A06BF2;
    color: #fff;
}

