
.about-section {
  background-color: #01011a;
  color: #f9e79f;
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 0 30px;
}

.about-left {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image-frame {
  border-radius: 25px;
  background: linear-gradient(180deg, #6638f0, #8f52ff);
  padding: 10px;
  display: inline-block;
}

.about-main-img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.about-right {
  flex: 1;
}

.about-subtitle {
  font-size: 18px;
  letter-spacing: 2px;
  color: #c9c5ff;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
  background: linear-gradient(to left, #91c7e0, #8a681e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-desc {
  font-size: 19px;
  line-height: 1.8;
  color: #b9aeae;
  margin-bottom: 35px;
}

/* .discover-btn {
  background-color: #ffc64d;
  color: #000;
  border: none;
  padding: 14px 28px;
  font-weight: 500;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.discover-btn:hover {
  background-color: #A06BF2;
}

.arrow-icon {
  font-size: 18px;
} */
/* From Uiverse.io by gharsh11032000 */ 
.discover-btn_post {
  cursor: pointer;
  position: relative;
  padding: 14px 28px;
  font-size: 15px;
  color: #fff;
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: #FDC448;
  /* font-weight: 600; */
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.discover-btn_post::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #A06BF2;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.discover-btn_post:hover::before {
  scale: 3;
}

.discover-btn_post:hover {
  color: #ffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.discover-btn_post:active {
  scale: 1;
}





@media (max-width: 1024px) {
  .about-container {
    gap: 40px;
  }

  .about-title {
    font-size: 36px;
  }

  .about-desc {
    font-size: 17px;
  }
}



@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    /* text-align: center; */
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-title {
    font-size: 32px;
    line-height: 1.3;
  }

  .about-desc {
    font-size: 20px;
    color: #5e5675;
    margin-bottom: 30px;
  }

  .discover-btn {
    /* margin: 0 auto; */
  }
}



@media (max-width: 480px) {

  .about-section {
    padding: 50px 0;
  }

  .about-container {
    padding: 0 20px;
    gap: 30px;
  }

  .about-title {
    font-size: 26px;
    line-height: 1.3;
  }

  .about-subtitle {
    font-size: 15px;
  }

  .about-desc {
    font-size: 15px;
    line-height: 1.6;
  }

  .discover-btn {
    /* padding: 12px 22px; */
    font-size: 14px;
  }
}
