.services {
  padding: 80px 20px;
  font-family: "Poppins", sans-serif;
}

.services_container {
  text-align: center;
}

.services_para {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.services_tittle {
  font-size: 3rem;
  max-width: 900px;
  margin: auto;
  background: linear-gradient(to left, #bbc5ca, #1e838a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.grid_services {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
  margin-bottom: 33px;
}

/* BOX */
.service-box {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.top-tab img {
  width: 160px;
  display: block;
  margin-left: 0;
  transform: translateY(10px);
}

.box_grid_services {
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #4a31fe, #163769);
  border: 2px solid transparent;
  transition: 0.4s ease;
}

.box_grid_services:hover {
  background: linear-gradient(to bottom, #4a31fe, #0e3166, #051c3f);
  border-color: yellow;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7),
              0 4px 10px rgba(255, 179, 0, 0.4);
}

.icon {
  background: rgba(255, 255, 255, 0.15);
  width: 80px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.icon img {
  width: 50px;
}

.services_desc {
  color: #d2d2d2;
  font-size: 17px;
  line-height: 1.5rem;
  margin-top: 10px;
}

@media (max-width: 1100px) {
  .grid_services {
    grid-template-columns: repeat(3, 1fr);
  }

  .services_tittle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .grid_services {
    grid-template-columns: repeat(2,1fr);
    padding: 0px 6px;
  }
  .services_para{
    font-size: 16px;
  }

  .services_tittle {
    font-size: 2.2rem;
  }

  .box_grid_services {
    padding: 25px;
            width: 155px;
        height: 192px;
  }

  .icon {
    width: 70px;
    height: 55px;
  }

  .icon img {
    width: 45px;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 50px 15px;
  }
  .services_para{
    font-size: 16px;
            line-height: 19px;
  }

  .services_tittle {
    font-size: 1.9rem;
  }

  .grid_services {
    gap: 1.8rem;
  }

  .box_grid_services {
    padding: 20px;
  }

  .services_desc {
    font-size: 15px;
  }

  .top-tab img {
    width: 130px;
  }
}

@media (max-width: 420px) {
  .services_tittle {
    font-size: 1.7rem;
  }

  .icon {
    width: 60px;
    height: 50px;
  }

  .icon img {
    width: 40px;
  }

  .box_grid_services {
    padding: 18px;
  }
}

@media (max-width: 370px) {
  .services {
    padding: 40px 10px;
  }

  .services_tittle {
    font-size: 1.5rem;
  }

  .grid_services {
    gap: 1.5rem;
  }

  .box_grid_services {
    padding: 15px;
  }

  .services_desc {
    font-size: 14px;
  }

  .top-tab img {
    width: 110px;
  }
}
