.services {
    background-color: #01011a;
    padding: 80px 0;
    font-family: "Poppins", sans-serif;
}

.services_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services_para {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 00;
}

.services_tittle {
    font-size: 3.4rem;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin-top: 0px;
    font-weight: bold;
    background: linear-gradient(to left, #bbc5ca, #1e838a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid_services {
    width: 98%;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
}

/* .box_grid_services {
    width: 290px;
    padding: 30px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(16, 85, 141);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: linear-gradient(to bottom, #4d78b1, #163769);
} */

.box_grid_services:hover {
    /* background: linear-gradient(to bottom, #a8bbd4, #163769); */
    animation: glowDelay 2s ease-out forwards;
    transition: all .4s 
ease
    /* transition: 0.5s; */
}

/* @keyframes glowDelay {
    0% {
        box-shadow: none;
    }

    25% {
        background-color: #052049;
        transition: 9s;
    }

    50% {
                transition: 2s;

        background-color: #163769;
    }

    75% {
        background: linear-gradient(to bottom, #cdd7e6, #052049);
    }

    100% {
        background: linear-gradient(to bottom, #cdd7e6, #052049);
    }

} */

.services_desc {
    color: grey;
    font-size: 18px;
    align-items: center;
    line-height: 1.7rem;
}

.services_para {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.top{
    width: 220px;
    height: auto;
}


.img_services_img {
    width: 100px;
}
/* services  ................ */
.box_grid_services {
  width: 290px;
  padding: 30px;
  cursor: pointer;
  text-decoration: none;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  /* border-radius: 12px; */
  background: linear-gradient(to bottom, #4a31fe, #163769);
  /* background: linear-gradient(to bottom, #4d78b1, #163769); */
  border: 2px solid transparent;
  transition: all .4s ease;
  /* position: relative; */
  overflow: hidden;
}


.services_para {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  /* margin-top: 15px; */
  transition: color .4s ease;
}

.box_grid_services:hover {
  /* background: linear-gradient(to bottom, #6f89ac, #163769); */
    background: linear-gradient(to bottom, #4a31fe, #0e3166, #051c3f);

  border: 2px solid #F58300;
  box-shadow: 
    0 8px 20px rgba(0, 0, 0, 0.9),   
    0 4px 10px rgba(255, 179, 0, 0.3); 
  /* transform: translateY(-6px); */
  transition: all 0.4s ease;
}


/* Change text color smoothly */
.box_grid_services:hover .services_para {
  color: #ffb300;
}
.service-box{
  text-decoration: none;
}

















.service-box {
 color: white;
  /* position: relative; */
  /* overflow: visible;  */
   transition: all .4s ease;
  /* position: relative; */
  overflow: hidden;
}


.top-tab {
  /* position: absolute; */
  /* top: -28px; */
  left: 0;
  width: 120px;
  height: 30px;
  /* background: #3b3bff; */
  /* border-top-left-radius: 12px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
}
.top-tab img{
    width: 170px;
    height: auto;
    translate: 0px 11px;
}
.box_grid_services {
  /* padding: 50px 25px 30px; */
  /* text-align: left; */
}
.box_grid_services:hover{
    border: 2px solid yellow;
}
.icon {
  background: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.icon img {
  width: 50px;
  height: auto;
}





