
.stats-section {
  background-color: #01011a;
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  max-width: 1200px;
  padding: 0 30px;
}

.stats-card {
  background-color: #2b1f47;
  border-radius: 15px;
  padding: 40px 50px;
  min-width: 180px;
  clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 100%, 0 100%);
  text-align: left;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.03);
}

.stats-number {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.stats-number span {
  font-size: 24px;
  color: #f6c23e;
}

.stats-text {
  font-size: 16px;
  color: #f6c23e;
  margin-top: 10px;
}





@media (max-width: 1024px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .stats-card {
    padding: 35px 40px;
  }

  .stats-number {
    font-size: 42px;
  }

  .stats-text {
    font-size: 15px;
  }
}



@media (max-width: 768px) {
  .stats-section {
    padding: 60px 0;
  }

  .stats-container {
    padding: 0 25px;
    gap: 20px;
  }

  .stats-number {
    font-size: 38px;
  }

  .stats-text {
    font-size: 15px;
  }
}



@media (max-width: 480px) {

  .stats-section {
    padding: 50px 0;
  }

  .stats-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    padding: 0 20px;
  }

  .stats-card {
    padding: 25px 30px;
  }

  .stats-number {
    font-size: 32px;
  }

  .stats-number span {
    font-size: 20px;
  }

  .stats-text {
    font-size: 14px;
  }
}
