.testimonials-section {
  /* background: #070729; */
  padding: 40px 20px;
  /* color: white; */
}
.testimoinal_para{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.testimonials-title {
  font-size: 44px;
  background: linear-gradient(to top, #b4972d, #b7b5a7);
  /* background: linear-gradient(to left, #d7e2e7, #12a1c5); */
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
}

/* 🌞 Light Mode — Dark Gradient */
.testimonials-title{
  background: linear-gradient(to left,#0f172a , #4d6797); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 🌙 Dark Mode — Light Gradient */
[data-theme="dark"] .testimonials-title {
  background: linear-gradient(to left, #dce4ff, #8fa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Desktop visible, mobile hidden */
.desktop-slider {
  display: block;
}

.mobile-slider {
  display: none;
}

/* Card styling */
.testimonial-card {
  background: #4538ff;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  width: 260px;
  align-items: center;
  text-align: center;
}

.profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.text {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 14px;
}

/* ------ MOBILE VIEW ------- */
@media (max-width: 600px) {

  /* Desktop slider hidden */
  .desktop-slider {
    display: none;
  }
  .testimoinal_para{
    font-size: 14px;
  }

  /* Mobile slider visible */
  .mobile-slider {
    display: block;
  }

  /* Mobile card full width */
  .mobile-card {
    width: 100%;
    max-width: 290px;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial-card h4{
    font-size: 30px;
  }

}

/* Center the entire slider area */
.desktop-slider .slick-track {
  display: flex !important;
  justify-content: center !important;
}

/* Every slide will be centered */
.desktop-slider .slick-slide {
  display: flex !important;
  justify-content: center !important;
}

/* Center card content */
.testimonial-card {
  text-align: center;
}

/* Center the profile image */
.profile-img {
  margin: 0 auto;
  display: block;
}
